# NetBeans

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Paradigm

*.vpp~*
/GerenciamentoHotel/nbproject/private/
/GerenciamentoHotel/GerenciamentoHotel-war/nbproject/private/
/GerenciamentoHotel/GerenciamentoHotel-ejb/nbproject/private/